{%extends 'main/main_home.html'%} {%block content%}

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">SELECT</h4>
            <p class="card-description">Current active Session: {{current}}</p>
            <p class="card-description">Select Semester Session ID to Set Active</p>
            <form action="" method="POST" class="forms-sample">
              {% csrf_token %}
              <div class="form-group">
<select name="ssid"  class="form-control form-control-lg" id="myselect">
  {%for s in ss%}
  <option value="{{s.ss_id}}"+ {% if ss in selected_values %} selected {% endif %}>{{s.semester}}  --  {{s.session}}</option>
  {% endfor %}
</select>
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <a href="{% url 'home' %}" class="btn btn-light" role="button">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myselect').select2();
</script>

{%endblock%}