{%extends 'main/main_home.html'%} {%block content%}

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Choose From  Courses</h4>
            <form action="" method="POST" class="forms-sample">
              {% csrf_token %}
              <select name="course_code"  class="form-control form-control-lg" id="myselect">
                {%for c in data%}
                <option value="{{c.course_code}},{{c.dep}}" {% if c in selected_values %} selected {% endif %}>{{c.course_code}} - {{c.subject_name}} for {{c.dep}}  Department</option>
                {% endfor %}
              </select>
              <p></p>
              <button type="submit" class="btn btn-primary mr-2">Search</button>
              <a href="{% url 'home' %}" class="btn btn-light" role="button">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#myselect').select2();
</script>

{%endblock%}