{%extends 'main/main_home_teachers.html'%} {%block content%}

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-title">Marks Information : {{subject_name}} ({{course_id}}) <br> Department Name : {{student_dept}}</b></p>
                        <!--a href="{% url 'generate_pdf2' course_id=course_id dept_id=student_dept %}" class="text-info">Download Marksheet</!--a-->
                    </div>




                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sl.</th>
                                <th>Registration No.</th>
                                <th>Student's Name</th>
                                <th>CA</th>
                                <th>Exam</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in data %}
                            <tr>
                                <td>{{ c.id }}</td>
                                <td>{{ c.student.registration_number }}</td>
                                <td>{{ c.student.name }}</td>
                                <td>{{ c.theory_marks }}</td>
                                <td>{{ c.term_test }}</td>
                                <td>{{ c.total }}</td>

                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}