{%extends 'main/main_home.html'%} {%block content%}

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">SELECT</h4>
            <p class="card-description">Select Department and Level to Select Students to Promote</p>
            <form action="" method="POST" class="forms-sample">
              {% csrf_token %}
              <div class="form-group">
                <!-- <input type="text" name="course_code" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Course Code"> -->
<select name="dept"  class="form-control form-control-lg" id="cars">
  {%for d in depts%}
  <option value="{{d.dept_id}}"+ {% if ss in selected_values %} selected {% endif %}>{{d.dept_id}}  --  {{d.name}}</option>
  {% endfor %}
</select>
              </div>
              <div class="form-group">
                <!-- <input type="text" name="course_code" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Course Code"> -->
<select name="lev"  class="form-control form-control-lg" id="cars">
  {%for l in levs%}
  <option value="{{l}}"+ {% if l in selected_values %} selected {% endif %}>{{l}}</option>
  {% endfor %}
</select>
              </div>
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <a href="{% url 'home' %}" class="btn btn-light" role="button">Cancel</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}