{%extends 'main/main_home.html'%} {%block content%}


        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Select the Academic Year</h4>
                        <p class="card-description">Select Academic Year and Department To Download Transcripts</p>
                        <form action="" method="POST"  enctype="multipart/form-data" class="forms-sample">
                            {% csrf_token %}

                            <div class="form-group">
                                <!-- <input type="text" name="course_code" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Course Code"> -->
                                <label for="cars">Choose An Academic Year  </label>

                                <select name="ay" class="form-control form-control-lg" id="myselect2">
                                    {%for ay in ays%}
                                    <option value="{{ay}}" {% if ay in selected_values %} selected {% endif %}>{{ay}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- <input type="text" name="course_code" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Course Code"> -->
                                <label for="cars">Choose A Department </label>

                                <select name="dept" class="form-control form-control-lg" id="myselect">
                                    {%for d in ds%}
                                    <option value="{{d}}" {% if ay in selected_values %} selected {% endif %}>{{d}} - {{d.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2" {{disabled}}>Generate Transcripts</button>
                            <a href="{% url 'home' %}" class="btn btn-light" role="button">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#myselect').select2();
    $('#myselect2').select2();
</script>
{%endblock%}